# Programming for Data Science - 21KHDL1
# Final Project
# Topic:

## Student Information 
| MSSV     | Họ tên          |
| -------- | --------------- |
| 21120570 | Đặng Nguyễn Thanh Tín |
| 21120574 | Nguyễn Minh Trí |
| 21120580 | Trần Thị Kim Trinh |

## Table of contents
- [Overview](#overview)
- [Data Collection](#data-collection)
- [Data Pre-processing and Exploration](#data-pre-processing-and-exploration)
- [Quick view of Data](#quick-view-of-data)
- [Questions](#questions)
- [Reflection](#reflection)
- [References](#references)


# Overview

The Kaggle dataset on drug-related deaths from 2012-2018 provides comprehensive health-related information, encompassing various factors such as drug categories, demographics including gender and age, and the geographical context of fatalities. Despite its age, this data serves as a crucial resource for comprehending the drug issue and proposing preventative measures. Analyzing the dataset can pinpoint trends and factors contributing to fatalities, supporting prevention and treatment efforts. This presents an opportunity to address the public health challenge and formulate effective anti-drug strategies.

Libraries used

In [1]:
#import những gì bạn cần ở đây
import numpy as np
import pandas as pd

# Data Collection

**The Connecticut Deaths due to Drugs Dataset** contains information about **5105** people who died due to drug overdose between **2012 and 2018** in Connecticut, US.

The dataset includes data related to the age, race, gender, place of residence of the victims as well as the drugs they overdosed on. This information can be used to understand if drug use is prevalent in a specific area or city, drug use by individuals of different age groups and races as well as the popularity of different types of drugs.

The dataset has **41 columns** and **5105 rows**. The file have the following columns:
1. `ID`: ID of Patient
2. `Date`: The time which Patient died
3. `DateType`: Type of Date in Column 2 [Date of Reporting or Date of Death]
4. `Age`: Age of Patient
5. `Sex`: Sex of Patient
6. `Race`: Race of Patient
7. `ResidenceCity`: City of Residence
8. `ResidenceCounty`: County of Residence
9. `ResidenceState`: State of Residence
10. `DeathCity`: City of Death
11. `DeathCounty`: County of Death
12. `Location`: Location of Death [Hospital or Residence]
13. `LocationifOther`: Location of Death if Not Hospital or Residence
14. `DescriptionofInjury`: Cause of Death
15. `InjuryPlace`: Place of Event that caused Death
16. `InjuryCity`: City of Event that caused Death
17. `InjuryCounty`: County of Event that caused Death
18. `InjuryState`: State of Event that caused Death
19. `COD`: Detailed Cause of Death
20. `OtherSignifican`: Other Significant Injuries that may have lead to Death
21. `Heroin`: Drug Found in Body [Y/N]
22. `Cocaine`: Drug Found in Body [Y/N]
23. `Fentanyl`: Drug Found in Body [Y/N]
24. `FentanylAnalogue`: Drug Found in Body [Y/N]
25. `Oxycodone`: Drug Found in Body [Y/N]
26. `Oxymorphone`: Drug Found in Body [Y/N]
27. `Ethanol`: Drug Found in Body [Y/N]
28. `Hydrocodone`: Drug Found in Body [Y/N]
29. `Benzodiazepine`: Drug Found in Body [Y/N]
30. `Methadone`: Drug Found in Body [Y/N]
31. `Amphet`: Drug Found in Body [Y/N]
32. `Tramad`: Drug Found in Body [Y/N]
33. `Morphine_NotHeroin`: Drug Found in Body [Y/N]
34. `Hydromorphone`: Drug Found in Body [Y/N]
35. `Other`: Drug Found in Body [Y/N]
36. `OpiateNOS`: Drug Found in Body [Y/N]
37. `AnyOpioid`: Drug Found in Body [Y/N]
38. `MannerofDeath`: Manner of Death
39. `DeathCityGeo`: City of Death
40. `ResidenceCityGeo`: City of Residence
41. `InjuryCityGeo`: City of Injury

# Data Pre-processing and Exploration

**Read Data**

In [4]:
# Đọc dữ liệu từ ./Accidental Drug Related Deaths in Connecticut-2012-2018 và lưu vào DrugDeath_df
DrugDeath_df = pd.read_csv('./Data/Accidental_Drug_Related_Deaths_2012-2018.csv')

DrugDeath_df

,ID,Date,DateType,Age,Sex,Race,ResidenceCity,ResidenceCounty,ResidenceState,DeathCity,...,Tramad,Morphine_NotHeroin,Hydromorphone,Other,OpiateNOS,AnyOpioid,MannerofDeath,DeathCityGeo,ResidenceCityGeo,InjuryCityGeo
0,14-0273,06/28/2014 12:00:00 AM,DateReported,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"CT\n(41.575155, -72.738288)","CT\n(41.575155, -72.738288)","CT\n(41.575155, -72.738288)"
1,13-0102,03/21/2013 12:00:00 AM,DateofDeath,48.0,Male,Black,NORWALK,NaN,NaN,NORWALK,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"Norwalk, CT\n(41.11805, -73.412906)","NORWALK, CT\n(41.11805, -73.412906)","CT\n(41.575155, -72.738288)"
2,16-0165,03/13/2016 12:00:00 AM,DateofDeath,30.0,Female,White,SANDY HOOK,FAIRFIELD,CT,DANBURY,...,NaN,NaN,NaN,NaN,NaN,Y,Accident,"Danbury, CT\n(41.393666, -73.451539)","SANDY HOOK, CT\n(41.419998, -73.282501)",NaN
3,16-0208,03/31/2016 12:00:00 AM,DateofDeath,23.0,Male,White,RYE,WESTCHESTER,NY,GREENWICH,...,NaN,NaN,NaN,NaN,NaN,Y,Accident,"Greenwich, CT\n(41.026526, -73.628549)",NaN,NaN
4,13-0052,02/13/2013 12:00:00 AM,DateofDeath,22.0,Male,"Asian, Other",FLUSHING,QUEENS,NaN,GREENWICH,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"Greenwich, CT\n(41.026526, -73.628549)",NaN,"CT\n(41.575155, -72.738288)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5100,15-0466,09/08/2015 12:00:00 AM,DateReported,43.0,Male,White,CHESHIRE,NEW HAVEN,CT,CHESHIRE,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"CHESHIRE, CT\n(41.498834, -72.901448)","CHESHIRE, CT\n(41.498834, -72.901448)","CT\n(41.575155, -72.738288)"
5101,17-0618,07/22/2017 12:00:00 AM,DateReported,21.0,Male,White,MADISON,NEW HAVEN,CT,NEW HAVEN,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"New Haven, CT\n(41.308252, -72.924161)","MADISON, CT\n(41.271447, -72.60086)","CT\n(41.575155, -72.738288)"
5102,18-0646,08/14/2018 12:00:00 AM,DateofDeath,30.0,Male,White,LAWRENCEVILLE,TIOGA,PA,DANBURY,...,Y,NaN,NaN,NaN,NaN,Y,Accident,"DANBURY, CT\n(41.393666, -73.451539)",NaN,"DANBURY, CT\n(41.393666, -73.451539)"
5103,14-0124,03/16/2014 12:00:00 AM,DateofDeath,33.0,Male,White,HARTFORD,NaN,NaN,WINDSOR,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"WINDSOR, CT\n(41.852781, -72.64379)","HARTFORD, CT\n(41.765775, -72.673356)","CT\n(41.575155, -72.738288)"
5104,16-0637,09/15/2016 12:00:00 AM,DateofDeath,33.0,Male,White,THOMASTON,LITCHFIELD,CT,WATERBURY,...,NaN,NaN,NaN,NaN,NaN,Y,Accident,"WATERBURY, CT\n(41.554261, -73.043069)","THOMASTON, CT\n(41.674124, -73.073189)","WATERBURY, CT, CT\n(41.554261, -73.043069)"

**How many rows and how many columns?**

In [6]:
# Lưu số dòng của DrugDeath_df vào n_rows và số cột của DrugDeath_df vào n_cols
n_rows, n_cols = DrugDeath_df.shape

# In ra màn hình số dòng và số cột của DrugDeath_df
print(f'({n_rows}, {n_cols})')

(5105, 41)

**What is the meaning of each row?**

Each row in this dataset represents information about an individual who passed away due to a drug overdose. Specifically:

<li><b>Demographic Information</b>: Age, gender, race, residential address.</li>
<li><b>Death Information</b>: Date of death, location of death, cause of death, manner of death.</li>
<li><b>Drug-related Information</b>: Presence of specific drugs in the body.</li>

**Are there duplicated rows? + Remove duplicate**

In [25]:
# Kiểm tra các dòng bị trùng lặp
duplicate_rows = DrugDeath_df[DrugDeath_df.duplicated()]

# Hiển thị nếu có dòng bị trùng lặp
if duplicate_rows.shape[0] > 0:
    print("There are duplicated rows.")
    # Xóa các dòng trùng lặp
    DrugDeath_df.drop_duplicates(inplace=True)
    print("Duplicates removed.")
else:
    print("There are no duplicated rows.")

There are no duplicated rows.

**Conclusion:** We can see that the dataset doesn't have duplicated rows.

**What is the meaning of each column?**

- The data columns is crucial for effective analysis. By carefully examining the column titles and their respective data entries, we can decipher the information they encapsulate. Given the extensive length of the column titles, renaming them for easier handling and analysis becomes essential.

- Through a thorough review of the column titles and their contents, aligned with the context of the survey questionnaire, we can gain a comprehensive understanding of the dataset. This process will enable us to effectively rename the columns, simplifying them for easier manipulation and analysis in subsequent steps.

- The columns in this dataset provide information about emergency cases due to drug overdoses.

What is the current data type of each column? Are there columns having inappropriate data types? If have, converting

In [24]:
# Kiểm tra kiểu dữ liệu hiện tại của các cột
print(DrugDeath_df.info())

# Chuyển đổi các cột sang kiểu dữ liệu phù hợp nếu cần
DrugDeath_df['Date'] = pd.to_datetime(DrugDeath_df['Date'], format='%d/%m/%Y %H:%M:%S')

# Kiểm tra lại kiểu dữ liệu sau khi chuyển đổi
print(DrugDeath_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5105 entries, 0 to 5104
Data columns (total 41 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   5105 non-null   object
 1   Date                 5103 non-null   datetime64[ns]
 2   DateType             5103 non-null   object
 3   Age                  5102 non-null   float64
 4   Sex                  5099 non-null   object
 5   Race                 5092 non-null   object
 6   ResidenceCity        4932 non-null   object
 7   ResidenceCounty      4308 non-null   object
 8   ResidenceState       3556 non-null   object
 9   DeathCity            5100 non-null   object
 10  DeathCounty          4005 non-null   object
 11  Location             5081 non-null   object
 12  LocationifOther      590 non-null    object
 13  DescriptionofInjury  4325 non-null   object
 14  InjuryPlace          5039 non-null   object
 15  InjuryCity           3349 non-null   object
 16  InjuryCounty         2364 non-null   object
 17  InjuryState          1424 non-null   object
 18  COD                  5105 non-null   object
 19  OtherSignifican      169 non-null    object
 20  Heroin               2529 non-null   object
 21  Cocaine              1521 non-null   object
 22  Fentanyl             2232 non-null   object
 23  FentanylAnalogue     389 non-null    object
 24  Oxycodone            607 non-null    object
 25  Oxymorphone          108 non-null    object
 26  Ethanol              1247 non-null   object
 27  Hydrocodone          118 non-null    object
 28  Benzodiazepine       1343 non-null   object
 29  Methadone            474 non-null    object
 30  Amphet               159 non-null    object
 31  Tramad               130 non-null    object
 32  Morphine_NotHeroin   42 non-null     object
 33  Hydromorphone        25 non-null     object
 34  Other                435 non-null    object
 35  OpiateNOS            88 non-null     object
 36  AnyOpioid            2466 non-null   object
 37  MannerofDeath        5095 non-null   object
 38  DeathCityGeo         5105 non-null   object
 39  ResidenceCityGeo     5012 non-null   object
 40  InjuryCityGeo        5027 non-null   object
dtypes: datetime64[ns](1), float64(1), object(39)
memory usage: 1.6+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5105 entries, 0 to 5104
Data columns (total 41 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   5105 non-null   object
 1   Date                 5103 non-null   datetime64[ns]
 2   DateType             5103 non-null   object
 3   Age                  5102 non-null   float64
 4   Sex                  5099 non-null   object
 5   Race                 5092 non-null   object
 6   ResidenceCity        4932 non-null   object
 7   ResidenceCounty      4308 non-null   object
 8   ResidenceState       3556 non-null   object
 9   DeathCity            5100 non-null   object
 10  DeathCounty          4005 non-null   object
 11  Location             5081 non-null   object
 12  LocationifOther      590 non-null    object
 13  DescriptionofInjury  4325 non-null   object
 14  InjuryPlace          5039 non-null   object
 15  InjuryCity           3349 non-null   object
 16  InjuryCounty         2364 non-null   object
 17  InjuryState          1424 non-null   object
 18  COD                  5105 non-null   object
 19  OtherSignifican      169 non-null    object
 20  Heroin               2529 non-null   object
 21  Cocaine              1521 non-null   object
 22  Fentanyl             2232 non-null   object
 23  FentanylAnalogue     389 non-null    object
 24  Oxycodone            607 non-null    object
 25  Oxymorphone          108 non-null    object
 26  Ethanol              1247 non-null   object
 27  Hydrocodone          118 non-null    object
 28  Benzodiazepine       1343 non-null   object
 29  Methadone            474 non-null    object
 30  Amphet               159 non-null    object
 31  Tramad               130 non-null    object
 32  Morphine_NotHeroin   42 non-null     object
 33  Hydromorphone        25 non-null     object
 34  Other                435 non-null    object
 35  OpiateNOS            88 non-null     object
 36  AnyOpioid            2466 non-null   object
 37  MannerofDeath        5095 non-null   object
 38  DeathCityGeo         5105 non-null   object
 39  ResidenceCityGeo     5012 non-null   object
 40  InjuryCityGeo        5027 non-null   object
dtypes: datetime64[ns](1), float64(1), object(39)
memory usage: 1.6+ MB
None

"With each categorical column, how are values distributed?
- What is the percentage of missing values?
- How many different values? Are they abnormal?"

In [27]:
# Lấy tất cả các cột phân loại
categorical_columns = DrugDeath_df.select_dtypes(include=['object']).columns.tolist()

# Phân tích từng cột phân loại
for column in categorical_columns:
    print(f"Column: {column}")
    
    # Phân phối giá trị
    print(f"Value Distribution:\n{DrugDeath_df[column].value_counts(normalize=True)}")
    
    # Giá trị thiếu
    missing_count = DrugDeath_df[column].isnull().sum()
    missing_percentage = (missing_count / len(DrugDeath_df)) * 100
    print(f"Missing Values: {missing_count} ({missing_percentage:.2f}%)")
    
    # Đếm số giá trị duy nhấts
    unique_values_count = DrugDeath_df[column].nunique()
    print(f"Number of Unique Values: {unique_values_count}")
    
    # Kiểm tra nếu số lượng giá trị duy nhất quá cao
    if unique_values_count > len(DrugDeath_df) / 2:
        print("High number of unique values, might be abnormal.")
    else:
        print("Values seem within an expected range.")
    
    print("-" * 50)

Column: ID
Value Distribution:
ID
14-0273    0.000196
13-0059    0.000196
14-0353    0.000196
15-0700    0.000196
14-0317    0.000196
             ...
17-0709    0.000196
16-0178    0.000196
16-0410    0.000196
15-0003    0.000196
16-0637    0.000196
Name: proportion, Length: 5105, dtype: float64
Missing Values: 0 (0.00%)
Number of Unique Values: 5105
High number of unique values, might be abnormal.
--------------------------------------------------
Column: DateType
Value Distribution:
DateType
DateofDeath     0.553008
DateReported    0.446992
Name: proportion, dtype: float64
Missing Values: 2 (0.04%)
Number of Unique Values: 2
Values seem within an expected range.
--------------------------------------------------
Column: Sex
Value Distribution:
Sex
Male       0.739949
Female     0.259855
Unknown    0.000196
Name: proportion, dtype: float64
Missing Values: 6 (0.12%)
Number of Unique Values: 3
Values seem within an expected range.
--------------------------------------------------
Column: Race
Value Distribution:
Race
White                     0.786332
Hispanic, White           0.110173
Black                     0.085035
Hispanic, Black           0.004713
Unknown                   0.004517
Asian, Other              0.003535
Asian Indian              0.002749
Other                     0.002160
Chinese                   0.000393
Native American, Other    0.000196
Hawaiian                  0.000196
Name: proportion, dtype: float64
Missing Values: 13 (0.25%)
Number of Unique Values: 11
Values seem within an expected range.
--------------------------------------------------
Column: ResidenceCity
Value Distribution:
ResidenceCity
HARTFORD             0.060016
WATERBURY            0.054542
BRIDGEPORT           0.048865
NEW HAVEN            0.045418
NEW BRITAIN          0.038929
                       ...
PITTSBURGH           0.000203
ALLSTON              0.000203
GROTON LONG POINT    0.000203
NISKAYUNA            0.000203
LAWRENCEVILLE        0.000203
Name: proportion, Length: 370, dtype: float64
Missing Values: 173 (3.39%)
Number of Unique Values: 370
Values seem within an expected range.
--------------------------------------------------
Column: ResidenceCounty
Value Distribution:
ResidenceCounty
HARTFORD      0.279712
NEW HAVEN     0.261606
FAIRFIELD     0.157846
NEW LONDON    0.094243
LITCHFIELD    0.060817
                ...
MOULTRIE      0.000232
PLYMOUTH      0.000232
NEW CASTLE    0.000232
HIGHLANDS     0.000232
TIOGA         0.000232
Name: proportion, Length: 84, dtype: float64
Missing Values: 797 (15.61%)
Number of Unique Values: 84
Values seem within an expected range.
--------------------------------------------------
Column: ResidenceState
Value Distribution:
ResidenceState
CT    0.967942
NY    0.008155
MA    0.006468
FL    0.002812
NJ    0.002812
RI    0.002250
PA    0.001406
TX    0.001125
ME    0.001125
CA    0.000844
IL    0.000562
CO    0.000562
MD    0.000281
NC    0.000281
AL    0.000281
LA    0.000281
SC    0.000281
NH    0.000281
OH    0.000281
SD    0.000281
MI    0.000281
VT    0.000281
OK    0.000281
GA    0.000281
TN    0.000281
MN    0.000281
Name: proportion, dtype: float64
Missing Values: 1549 (30.34%)
Number of Unique Values: 26
Values seem within an expected range.
--------------------------------------------------
Column: DeathCity
Value Distribution:
DeathCity
HARTFORD         0.110392
NEW HAVEN        0.073333
WATERBURY        0.072157
BRIDGEPORT       0.066863
NEW BRITAIN      0.044510
                   ...
EAST HARTLAND    0.000196
BANTAM           0.000196
BRIDGEWATER      0.000196
W HAVEN          0.000196
NORFOLK          0.000196
Name: proportion, Length: 222, dtype: float64
Missing Values: 5 (0.10%)
Number of Unique Values: 222
Values seem within an expected range.
--------------------------------------------------
Column: DeathCounty
Value Distribution:
DeathCounty
HARTFORD      0.307865
NEW HAVEN     0.276404
FAIRFIELD     0.155556
NEW LONDON    0.091885
LITCHFIELD    0.059176
MIDDLESEX     0.045194
WINDHAM       0.035456
TOLLAND       0.028215
USA           0.000250
Name: proportion, dtype: float64
Missing Values: 1100 (21.55%)
Number of Unique Values: 9
Values seem within an expected range.
--------------------------------------------------
Column: Location
Value Distribution:
Location
Residence            0.526865
Hospital             0.320016
Other                0.152135
Convalescent Home    0.000590
Nursing Home         0.000197
Hospice              0.000197
Name: proportion, dtype: float64
Missing Values: 24 (0.47%)
Number of Unique Values: 6
Values seem within an expected range.
--------------------------------------------------
Column: LocationifOther
Value Distribution:
LocationifOther
Friend's Residence       0.066102
Friend's Home            0.045763
Friend's House           0.045763
In Vehicle               0.028814
Friends House            0.016949
                           ...
Neighbor's Residence     0.001695
High Ridge Motel         0.001695
In car on road           0.001695
Holiday Inn, Room 205    0.001695
By Railroad Tracks       0.001695
Name: proportion, Length: 322, dtype: float64
Missing Values: 4515 (88.44%)
Number of Unique Values: 322
Values seem within an expected range.
--------------------------------------------------
Column: DescriptionofInjury
Value Distribution:
DescriptionofInjury
Substance Abuse          0.374104
Drug Use                 0.113526
Substance abuse          0.092948
Ingestion                0.077225
substance abuse          0.068902
                           ...
Ingested Opiod           0.000231
Abused medication        0.000231
Used opiates             0.000231
Inhalation; Ingestion    0.000231
SUBSTANCE  ABUSE         0.000231
Name: proportion, Length: 320, dtype: float64
Missing Values: 780 (15.28%)
Number of Unique Values: 320
Values seem within an expected range.
--------------------------------------------------
Column: InjuryPlace
Value Distribution:
InjuryPlace
Residence                 0.714626
Other                     0.053384
Residential Building      0.047827
Hotel or Motel            0.045049
Unknown                   0.034928
                            ...
Campgrounds               0.000198
residential building      0.000198
Shopping Center           0.000198
Residential building      0.000198
River, Stream or Canal    0.000198
Name: proportion, Length: 71, dtype: float64
Missing Values: 66 (1.29%)
Number of Unique Values: 71
Values seem within an expected range.
--------------------------------------------------
Column: InjuryCity
Value Distribution:
InjuryCity
HARTFORD            0.084204
WATERBURY           0.057331
BRIDGEPORT          0.056435
NEW HAVEN           0.049268
NEW BRITAIN         0.041505
                      ...
LITCHFIELD          0.000299
NORTH STONINGTON    0.000299
WESTERLY            0.000299
ANDOVER             0.000299
NORFOLK             0.000299
Name: proportion, Length: 234, dtype: float64
Missing Values: 1756 (34.40%)
Number of Unique Values: 234
Values seem within an expected range.
--------------------------------------------------
Column: InjuryCounty
Value Distribution:
InjuryCounty
HARTFORD       0.308376
NEW HAVEN      0.264382
FAIRFIELD      0.156937
NEW LONDON     0.085871
LITCHFIELD     0.064721
MIDDLESEX      0.043993
WINDHAM        0.042724
TOLLAND        0.030034
WESTCHESTER    0.001692
DUTCHESS       0.000423
WASHINGTON     0.000423
PUTNAM         0.000423
Name: proportion, dtype: float64
Missing Values: 2741 (53.69%)
Number of Unique Values: 12
Values seem within an expected range.
--------------------------------------------------
Column: InjuryState
Value Distribution:
InjuryState
CT             0.996489
NY             0.002809
CONNECTICUT    0.000702
Name: proportion, dtype: float64
Missing Values: 3681 (72.11%)
Number of Unique Values: 3
Values seem within an expected range.
--------------------------------------------------
Column: COD
Value Distribution:
COD
Acute Fentanyl Intoxication                                                                                                       0.032909
Multiple Drug Toxicity                                                                                                            0.025661
Heroin Intoxication                                                                                                               0.025465
Acute Heroin Intoxication                                                                                                         0.022723
Heroin Toxicity                                                                                                                   0.018609
                                                                                                                                    ...
Acute Intoxication Combined Effects of Cocaine, Fentanyl, and Heroin                                                              0.000196
Acute Intoxication due to the Combined Effects of Cocaine, Clonazepam, Fentanyl, Heroin, Hydroxyzine, Methadone, and Trazodone    0.000196
Acute Heroin, Cocaine, and Alcohol Toxicities                                                                                     0.000196
Acute Intoxication due to the Combined Effects of Dextromethorphan, Fentanyl, Heroin and Tramadol                                 0.000196
Multidrug Toxicity Including Heroin, Fentanyl, 4-ANPP, para-Fluoroisobutyrylfentanyl, and Tramadol                                0.000196
Name: proportion, Length: 3193, dtype: float64
Missing Values: 0 (0.00%)
Number of Unique Values: 3193
High number of unique values, might be abnormal.
--------------------------------------------------
Column: OtherSignifican
Value Distribution:
OtherSignifican
Hypertensive and Atherosclerotic Cardiovascular Disease    0.136095
RECENT COCAINE USE                                         0.047337
Recent Cocaine Use                                         0.047337
Coronary Artery Disease                                    0.041420
Cardiac Hypertrophy                                        0.029586
                                                             ...
Chronic renal failure with fluid overload                  0.005917
heart disease                                              0.005917
Acute Alprazolam Intoxication, Obesity                     0.005917
Emphysema                                                  0.005917
Cardiac hypertrophy                                        0.005917
Name: proportion, Length: 92, dtype: float64
Missing Values: 4936 (96.69%)
Number of Unique Values: 92
Values seem within an expected range.
--------------------------------------------------
Column: Heroin
Value Distribution:
Heroin
Y    1.0
Name: proportion, dtype: float64
Missing Values: 2576 (50.46%)
Number of Unique Values: 1
Values seem within an expected range.
--------------------------------------------------
Column: Cocaine
Value Distribution:
Cocaine
Y    1.0
Name: proportion, dtype: float64
Missing Values: 3584 (70.21%)
Number of Unique Values: 1
Values seem within an expected range.
--------------------------------------------------
Column: Fentanyl
Value Distribution:
Fentanyl
Y           0.998208
Y-A         0.000896
Y POPS      0.000448
Y (PTCH)    0.000448
Name: proportion, dtype: float64
Missing Values: 2873 (56.28%)
Number of Unique Values: 4
Values seem within an expected range.
--------------------------------------------------
Column: FentanylAnalogue
Value Distribution:
FentanylAnalogue
Y    1.0
Name: proportion, dtype: float64
Missing Values: 4716 (92.38%)
Number of Unique Values: 1
Values seem within an expected range.
--------------------------------------------------
Column: Oxycodone
Value Distribution:
Oxycodone
Y    1.0
Name: proportion, dtype: float64
Missing Values: 4498 (88.11%)
Number of Unique Values: 1
Values seem within an expected range.
--------------------------------------------------
Column: Oxymorphone
Value Distribution:
Oxymorphone
Y    1.0
Name: proportion, dtype: float64
Missing Values: 4997 (97.88%)
Number of Unique Values: 1
Values seem within an expected range.
--------------------------------------------------
Column: Ethanol
Value Distribution:
Ethanol
Y    1.0
Name: proportion, dtype: float64
Missing Values: 3858 (75.57%)
Number of Unique Values: 1
Values seem within an expected range.
--------------------------------------------------
Column: Hydrocodone
Value Distribution:
Hydrocodone
Y    1.0
Name: proportion, dtype: float64
Missing Values: 4987 (97.69%)
Number of Unique Values: 1
Values seem within an expected range.
--------------------------------------------------
Column: Benzodiazepine
Value Distribution:
Benzodiazepine
Y    1.0
Name: proportion, dtype: float64
Missing Values: 3762 (73.69%)
Number of Unique Values: 1
Values seem within an expected range.
--------------------------------------------------
Column: Methadone
Value Distribution:
Methadone
Y    1.0
Name: proportion, dtype: float64
Missing Values: 4631 (90.71%)
Number of Unique Values: 1
Values seem within an expected range.
--------------------------------------------------
Column: Amphet
Value Distribution:
Amphet
Y    1.0
Name: proportion, dtype: float64
Missing Values: 4946 (96.89%)
Number of Unique Values: 1
Values seem within an expected range.
--------------------------------------------------
Column: Tramad
Value Distribution:
Tramad
Y    1.0
Name: proportion, dtype: float64
Missing Values: 4975 (97.45%)
Number of Unique Values: 1
Values seem within an expected range.
--------------------------------------------------
Column: Morphine_NotHeroin
Value Distribution:
Morphine_NotHeroin
Y                   0.904762
YES                 0.023810
STOLE MEDS          0.023810
NO RX BUT STRAWS    0.023810
PCP NEG             0.023810
Name: proportion, dtype: float64
Missing Values: 5063 (99.18%)
Number of Unique Values: 5
Values seem within an expected range.
--------------------------------------------------
Column: Hydromorphone
Value Distribution:
Hydromorphone
Y    1.0
Name: proportion, dtype: float64
Missing Values: 5080 (99.51%)
Number of Unique Values: 1
Values seem within an expected range.
--------------------------------------------------
Column: Other
Value Distribution:
Other
PCP                0.110345
morphine           0.066667
HYDROMORPH         0.064368
Bupren             0.057471
BUPREN             0.055172
                     ...
lsd, hydromorph    0.002299
Rx morphine        0.002299
pos 6-mam          0.002299
bupren             0.002299
MORPH PCP          0.002299
Name: proportion, Length: 134, dtype: float64
Missing Values: 4670 (91.48%)
Number of Unique Values: 134
Values seem within an expected range.
--------------------------------------------------
Column: OpiateNOS
Value Distribution:
OpiateNOS
Y    1.0
Name: proportion, dtype: float64
Missing Values: 5017 (98.28%)
Number of Unique Values: 1
Values seem within an expected range.
--------------------------------------------------
Column: AnyOpioid
Value Distribution:
AnyOpioid
Y    0.997567
N    0.002433
Name: proportion, dtype: float64
Missing Values: 2639 (51.69%)
Number of Unique Values: 2
Values seem within an expected range.
--------------------------------------------------
Column: MannerofDeath
Value Distribution:
MannerofDeath
Accident    0.994308
Pending     0.002748
accident    0.002552
ACCIDENT    0.000196
Natural     0.000196
Name: proportion, dtype: float64
Missing Values: 10 (0.20%)
Number of Unique Values: 5
Values seem within an expected range.
--------------------------------------------------
Column: DeathCityGeo
Value Distribution:
DeathCityGeo
Hartford, CT\n(41.765775, -72.673356)           0.074241
New Haven, CT\n(41.308252, -72.924161)          0.046033
Waterbury, CT\n(41.554261, -73.043069)          0.044662
Bridgeport, CT\n(41.179195, -73.189476)         0.043683
HARTFORD, CT\n(41.765775, -72.673356)           0.036043
                                                  ...
Lebanon, CT\n(41.636294, -72.212599)            0.000196
BARKHAMSTED, CT\n(41.927066, -72.911918)        0.000196
Newtown, CT\n(41.413516, -73.308842)            0.000196
Oakdale, CT\n(41.466099, -72.157799)            0.000196
CENTRAL VILLAGE, CT\n(41.722801, -71.907204)    0.000196
Name: proportion, Length: 374, dtype: float64
Missing Values: 0 (0.00%)
Number of Unique Values: 374
Values seem within an expected range.
--------------------------------------------------
Column: ResidenceCityGeo
Value Distribution:
ResidenceCityGeo
HARTFORD, CT\n(41.765775, -72.673356)         0.059058
WATERBURY, CT\n(41.554261, -73.043069)        0.053671
BRIDGEPORT, CT\n(41.179195, -73.189476)       0.048085
NEW HAVEN, CT\n(41.308252, -72.924161)        0.044693
NEW BRITAIN, CT\n(41.667528, -72.783437)      0.038308
                                                ...
NOANK, CT\n(41.328266, -71.99082)             0.000200
PASCOAG, CT\n(41.584202, -71.941101)          0.000200
SUDBURY, CT\n(41.466592, -73.203497)          0.000200
SAN FRANCISCO, CT\n(41.294701, -73.362801)    0.000200
BREWSTER, CT\n(41.673037, -72.945791)         0.000200
Name: proportion, Length: 289, dtype: float64
Missing Values: 93 (1.82%)
Number of Unique Values: 289
Values seem within an expected range.
--------------------------------------------------
Column: InjuryCityGeo
Value Distribution:
InjuryCityGeo
CT\n(41.575155, -72.738288)                     0.349314
HARTFORD, CT\n(41.765775, -72.673356)           0.056097
WATERBURY, CT\n(41.554261, -73.043069)          0.038194
BRIDGEPORT, CT\n(41.179195, -73.189476)         0.037597
NEW HAVEN, CT\n(41.308252, -72.924161)          0.032823
                                                  ...
MIDDLEFIELD, CT\n(41.515997, -72.712263)        0.000199
EASTHAVEN, CT\n(41.277971, -72.871954)          0.000199
WESTON, CT\n(41.200939, -73.380701)             0.000199
NEW BRITAIN, CT, CT\n(41.667528, -72.783437)    0.000199
NORFOLK, CT\n(41.993599, -73.201621)            0.000199
Name: proportion, Length: 226, dtype: float64
Missing Values: 78 (1.53%)
Number of Unique Values: 226
Values seem within an expected range.
--------------------------------------------------

# Quick view of Data

# Questions

# Reflection

# References